.DS_Store
.DS_Store
/benchmark/debug/*.*
/benchmark/obj/*.*
/benchmark/bin/*.*
/benchmark/benchmarkdotnet.Artifacts/*.*
benchmark/benchmarkdotnet.Artifacts/*.* 
benchmark/obj/benchmark.csproj.nuget.g.props
benchmark/obj/benchmark.csproj.nuget.cache
benchmark/obj/benchmark.csproj.nuget.g.targets
benchmark/obj/benchmark.csproj.proj-info.targets
benchmark/obj/fsac.cache
benchmark/obj/project.assets.json
benchmark/obj/Debug/netcoreapp2.1/benchmark.csprojAssemblyReference.cache
benchmark/obj/project.assets.json
benchmark/obj/Debug/netcoreapp2.1/benchmark.AssemblyInfoInputs.cache
benchmark/obj/Debug/netcoreapp2.1/benchmark.assets.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.csprojAssemblyReference.cache
benchmark/BenchmarkDotNet.Artifacts/Practice.BchMark.log
benchmark/BenchmarkDotNet.Artifacts/results/Practice.BchMark-report.csv
benchmark/BenchmarkDotNet.Artifacts/results/Practice.BchMark-report.html
benchmark/BenchmarkDotNet.Artifacts/results/Practice.BchMark-report-github.md
benchmark/bin/Release/netcoreapp2.1/benchmark.dll
benchmark/bin/Release/netcoreapp2.1/benchmark.pdb
benchmark/bin/Release/netcoreapp2.1/benchmark.deps.json
benchmark/bin/Release/netcoreapp2.1/benchmark.runtimeconfig.json
benchmark/bin/Release/netcoreapp2.1/benchmark.runtimeconfig.dev.json
benchmark/obj/Release/netcoreapp2.1/benchmark.dll
benchmark/obj/Release/netcoreapp2.1/benchmark.pdb
benchmark/obj/Release/netcoreapp2.1/benchmark.AssemblyInfo.cs
benchmark/obj/Release/netcoreapp2.1/benchmark.AssemblyInfoInputs.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.assets.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.csproj.CoreCompileInputs.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.csproj.FileListAbsolute.txt
benchmark/obj/Debug/netcoreapp2.1/benchmark.dll
benchmark/bin/Debug/netcoreapp2.1/benchmark.dll
benchmark/bin/Debug/netcoreapp2.1/benchmark.pdb
benchmark/bin/Debug/netcoreapp2.1/benchmark.deps.json
benchmark/bin/Debug/netcoreapp2.1/benchmark.runtimeconfig.json
benchmark/bin/Debug/netcoreapp2.1/benchmark.runtimeconfig.dev.json
benchmark/bin/Debug/netcoreapp2.1/lib.dll
benchmark/bin/Debug/netcoreapp2.1/lib.pdb
benchmark/obj/Debug/netcoreapp2.1/benchmark.pdb
benchmark/obj/Debug/netcoreapp2.1/benchmark.AssemblyInfo.cs
benchmark/obj/Debug/netcoreapp2.1/benchmark.csproj.CopyComplete
benchmark/obj/Debug/netcoreapp2.1/benchmark.csproj.CoreCompileInputs.cache
benchmark/obj/Debug/netcoreapp2.1/benchmark.csproj.FileListAbsolute.txt
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/benchmark.pdb
benchmark/bin/release/netcoreapp2.1/lib.dll
benchmark/bin/release/netcoreapp2.1/lib.pdb
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/BenchmarkDotNet.Autogenerated.csproj
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.notcs
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.sh
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/benchmark.dll
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.dll
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.pdb
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.deps.json
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.dll.config
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.runtimeconfig.json
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.runtimeconfig.dev.json
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/lib.dll
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/bin/Release/netcoreapp2.1/lib.pdb
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.cache
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.props
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.targets
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/project.assets.json
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfo.cs
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfoInputs.cache
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.assets.cache
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CopyComplete
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CoreCompileInputs.cache
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.FileListAbsolute.txt
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csprojAssemblyReference.cache
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.dll
benchmark/bin/release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb/obj/Release/netcoreapp2.1/fb92cc25-737d-4c85-9e5d-85b3e2ff2cbb.pdb
benchmark/obj/Debug/netcoreapp2.1/benchmark.csprojResolveAssemblyReference.cache
benchmark/obj/release/netcoreapp2.1/benchmark.csproj.CopyComplete
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.cache
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/231f28f6-39ad-4322-8624-b9ccba72de4f.notcs
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/231f28f6-39ad-4322-8624-b9ccba72de4f.sh
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/BenchmarkDotNet.Autogenerated.csproj
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.dll
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.pdb
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.deps.json
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.dll.config
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.runtimeconfig.json
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.runtimeconfig.dev.json
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/benchmark.dll
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/benchmark.pdb
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/lib.dll
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/bin/Release/netcoreapp2.1/lib.pdb
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.props
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.targets
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/project.assets.json
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.dll
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f.pdb
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfo.cs
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfoInputs.cache
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.assets.cache
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CopyComplete
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CoreCompileInputs.cache
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.FileListAbsolute.txt
benchmark/bin/release/netcoreapp2.1/231f28f6-39ad-4322-8624-b9ccba72de4f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csprojAssemblyReference.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.pdb
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/363c9368-f2d8-41c3-8827-a6f14022942f.notcs
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/363c9368-f2d8-41c3-8827-a6f14022942f.sh
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/BenchmarkDotNet.Autogenerated.csproj
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.dll
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.pdb
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.deps.json
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.dll.config
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.runtimeconfig.json
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.runtimeconfig.dev.json
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/benchmark.dll
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/benchmark.pdb
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/lib.dll
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/bin/Release/netcoreapp2.1/lib.pdb
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.cache
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.props
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.targets
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/project.assets.json
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.dll
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f.pdb
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfo.cs
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfoInputs.cache
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.assets.cache
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CopyComplete
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CoreCompileInputs.cache
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.FileListAbsolute.txt
benchmark/bin/release/netcoreapp2.1/363c9368-f2d8-41c3-8827-a6f14022942f/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csprojAssemblyReference.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/BenchmarkDotNet.Autogenerated.csproj
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/b2f238d0-b73e-481d-89c6-0e8186e469f4.notcs
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/b2f238d0-b73e-481d-89c6-0e8186e469f4.sh
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.dll
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.pdb
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.deps.json
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.dll.config
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.runtimeconfig.json
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.runtimeconfig.dev.json
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/benchmark.dll
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/benchmark.pdb
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/lib.dll
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/bin/Release/netcoreapp2.1/lib.pdb
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.props
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/BenchmarkDotNet.Autogenerated.csproj.nuget.g.targets
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/project.assets.json
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfo.cs
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.AssemblyInfoInputs.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.assets.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CopyComplete
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.CoreCompileInputs.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csproj.FileListAbsolute.txt
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/BenchmarkDotNet.Autogenerated.csprojAssemblyReference.cache
benchmark/bin/release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4/obj/Release/netcoreapp2.1/b2f238d0-b73e-481d-89c6-0e8186e469f4.dll
console/obj/console.csproj.proj-info.targets
console/bin/Debug/netcoreapp2.1/console.dll
console/bin/Debug/netcoreapp2.1/console.pdb
console/bin/Debug/netcoreapp2.1/console.deps.json
console/bin/Debug/netcoreapp2.1/console.runtimeconfig.json
console/bin/Debug/netcoreapp2.1/console.runtimeconfig.dev.json
console/obj/console.csproj.nuget.cache
console/obj/console.csproj.nuget.g.props
console/obj/console.csproj.nuget.g.targets
console/obj/fsac.cache
console/obj/project.assets.json
console/obj/Debug/netcoreapp2.1/console.dll
console/obj/Debug/netcoreapp2.1/console.pdb
console/obj/Debug/netcoreapp2.1/console.AssemblyInfo.cs
console/obj/Debug/netcoreapp2.1/console.AssemblyInfoInputs.cache
console/obj/Debug/netcoreapp2.1/console.assets.cache
console/obj/Debug/netcoreapp2.1/console.csproj.CoreCompileInputs.cache
console/obj/Debug/netcoreapp2.1/console.csproj.FileListAbsolute.txt
console/obj/Debug/netcoreapp2.1/console.csprojAssemblyReference.cache
tpl/obj/*.*
tpl/bin/*.*
tpl/obj/debug/*.*
tpl/bin/debug/*.*
console/bin/*.*
console/obj/*.*
console/bin/debug/*.*
console/obj/debug/*.*
