.DS_Store
.DS_Store
/obj/*
benchmark/obj/benchmark.csproj.nuget.g.props
benchmark/obj/benchmark.csproj.nuget.cache
benchmark/obj/benchmark.csproj.nuget.g.targets
benchmark/obj/benchmark.csproj.proj-info.targets
benchmark/obj/fsac.cache
benchmark/obj/project.assets.json
benchmark/obj/Debug/netcoreapp2.1/benchmark.csprojAssemblyReference.cache
benchmark/obj/project.assets.json
benchmark/obj/Debug/netcoreapp2.1/benchmark.AssemblyInfoInputs.cache
benchmark/obj/Debug/netcoreapp2.1/benchmark.assets.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.csprojAssemblyReference.cache
benchmark/BenchmarkDotNet.Artifacts/Practice.BchMark.log
benchmark/BenchmarkDotNet.Artifacts/results/Practice.BchMark-report.csv
benchmark/BenchmarkDotNet.Artifacts/results/Practice.BchMark-report.html
benchmark/BenchmarkDotNet.Artifacts/results/Practice.BchMark-report-github.md
benchmark/bin/Release/netcoreapp2.1/benchmark.dll
benchmark/bin/Release/netcoreapp2.1/benchmark.pdb
benchmark/bin/Release/netcoreapp2.1/benchmark.deps.json
benchmark/bin/Release/netcoreapp2.1/benchmark.runtimeconfig.json
benchmark/bin/Release/netcoreapp2.1/benchmark.runtimeconfig.dev.json
benchmark/obj/Release/netcoreapp2.1/benchmark.dll
benchmark/obj/Release/netcoreapp2.1/benchmark.pdb
benchmark/obj/Release/netcoreapp2.1/benchmark.AssemblyInfo.cs
benchmark/obj/Release/netcoreapp2.1/benchmark.AssemblyInfoInputs.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.assets.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.csproj.CoreCompileInputs.cache
benchmark/obj/Release/netcoreapp2.1/benchmark.csproj.FileListAbsolute.txt
